parameters:
	ignoreErrors:
		-
			message: "#^Method BombenProdukt\\\\Pathfinder\\\\RouteSchema\\:\\:normalizeString\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/RouteSchema.php

		-
			message: "#^Parameter \\#1 \\$path of class BombenProdukt\\\\Pathfinder\\\\RouteSchema constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/RouteSchema.php
